# Add GDTK folders to path
export DGD_REPO=$PWD

export DGD="${FOO:=${DGD_REPO}/../install-dir}"
export DGD_LUA_PATH=$DGD/lib/?.lua
export DGD_LUA_CPATH=$DGD/lib/?.so
export INSTALL_DIR=$DGD

PATH_add $DGD/bin
